<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1>All Events</h1>
<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${events} and ${events.size()}">No Events</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Name:
            </th>

            <th>
                Description:
            </th>

            <th>
                Address:
            </th>
            <th>
                Photo:
            </th>
        </tr>

    </thead>
    <tr th:each="event : ${events}">
        <td th:text="${event.getKey()}"></td>
        <td th:text="${event.getValue()}"></td>
        <td th:replace="fragments :: address"></td>
        <td><img th:src="@{/images/Code With Pride.jpg}" width="110px"/></td>
    </tr>



    </th:block>


<!--    <tr>-->
<!--       -->
<!--    </tr>-->

</table>

</body>
</html>

